.project {
    padding: 0 125px;
    .search {
        height: 60px;
        background: #FFFFFF;
        border-radius: 30px;
        margin-top: 180px;
        margin-bottom: 50px;
        input {
            height: 60px;
            outline: none;
            border: none;
            font-size: 20px;
            border-radius: 30px;
            padding: 0 40px;
        }
    }
    .hotWord {
        display: flex;
        span {
            display: inline-block;
            // height: 38px;
            // line-height: 38px;
            padding: 8px 13px;
            font-size: 16px;
            margin-right: 17px;
        }
        .select {
            background: #112DF2;
            border-radius: 18px;
            color: #fff;
        }
    }
}