.nav {
    width: 194px;
    background: #112DF2;
    min-height: calc(100vh - 206px);
    padding: 0 18px;
    .logo {
        padding: 0 5px;
        width: 100%;
        padding-top: 53px;
        padding-bottom: 100px;
    }
    .router {
        width: 194px;
        height: 64px;
        line-height: 64px;
        display: block;
        text-decoration: none;
        .link {
            color: #fff;
            padding-left: 63px;
            font-family: NotoSansHans-Medium-GBpc-EUC-H;
            font-weight: bold;
            font-size: 16px;
        }
        
    }
    .select {
        background: #FFFFFF;
        border-radius: 20px;
        .link {
            color: #000;
        }
    }
}